
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:  'Fredoka', sans-serif;
    background: white;
    color: #333;
    line-height: 1.5;
}

h1 {
    font-size: 25px;
}

ul {
    list-style: none
}

a{
    color:white;
    text-decoration: none;
}
a:hover {
    color: rgb(185, 212, 185);
}

p {
    margin: 10px 0;
}

img {
    width: 100%
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    opacity: 0.85;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 20px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px 20px;
    margin: 0 10px;
}

.me {
    background: url('/Users/lyndseycoombs/projects/portfolio/images/field.jpeg') no-repeat center center/cover ;
    color: rgb(243, 240, 240);
    text-shadow: 2px 2px 4px #000000;
    height: 80vh;
    position:relative;
}

.me .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.content h2 {
    font-size: 30px;
}

.content p {
    font-size: 20px;
}

.flex-bio {
    display: flex;
    margin-bottom: 20px;
}

.flex-bioleft img {
    border-radius: 50%;
    width: 320px;
    height: 370px;
}

.flex-bioright {
    display: flex;
    width: 50%;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-bioleft {
    display: flex;
    width: 50%;
    padding: 0px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.flex-bioright p {
    margin: 0;
    padding: 0;
    width: 75%;

}
.flex-bioright h3 {
    font-size: 20px;
    font-weight: bold;
}

.learning {
    text-align: center;
    margin-top: 40px;
  
}


.box {
    background: rgb(185, 212, 185);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
  
    
    /* border-color: rgb(177, 180, 182);  */
}

.box:hover {
    background: rgb(140, 182, 140);
}

.boxes {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   text-align: center;
   height: 100%;
   margin-bottom: 40px;
}

  .box h3 {
       font-size: 20px;
       font-weight: bold;
    
  }

   /* .row {
    display: flex; 
  } */
  
  /* .column {
    flex: 50%;
    padding: 10px;
    height: 200px;
   
  } */

  .flex-contact {
      display: flex;
  }

  .flex-left {
      display: flex;
      width: 50%;
      padding: 0px;
      justify-content: center;
  }

  .flex-right {
      display: flex ;
      justify-content: center;
      width: 50%;
      padding: 10px;
      background-color: bisque;
  }

  #contact {
      left: 30px;
  }

  .contact-form {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  input[type=text] {
    width: 70%;
    padding: 5px 5px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type=email] {
    width: 70%;
    padding: 5px 5px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px; 
    /* align-items:flex-end; */
    position: relative;
    left: 35px;
  }
 
  label {
    color: #B4886B;
    font-weight: bold;
    width: 90%;
    margin: 5px;
    padding: 5px;
  }

  #contact {
      position: relative;
      color:#B4886B;
      font-weight: bold;
      margin-top: 20px;
      font-size: 25px;
      left: 30px;
  }

.form {
    display: flex;
    color: #B4886B;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* #notes {
    width: 65%;
    outline: none;
    border: none;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    
} */
textarea {
    width: 61%;
    height: 100px;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    position: relative;
    left: 4px;
}
 
 input:focus {
     background-color: rgb(177, 180, 182);
     outline: none;
 }

 #submit {
    width: 50px;
 }

 .footer {
     margin-right: 20px;
 }

 footer a {
     margin-right: 20px;
     font-size: 36px;
 }
 
footer {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #333;
   color: white;
   height: 70px;
   width: 100%;
}
/* mobile or tablet */ 

@media (max-width: 768px)


{
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px; 
    }  
    .navbar a {
        padding: 10px 10px;
    }

    .flex-contact {
        flex-direction: column;
        align-items: center;
        flex: 100%;
        max-width: 100%;
    }

    .flex-left {
        width: 100%;
    }

    .flex-right {
        width: 100%;
    }
   .flex-bio {
       flex-direction: column;
       align-items: center;
       /* flex: 100%; */
       max-width: 100%;
       margin-top: 10px;
       margin-bottom: 20px;
       
   }

   .flex-bioright {
    text-align: justify;
    width: 90%;
    margin-top: 10px;
   }

   .flex-bioleft {
       margin-bottom: 50px;
       
   }

   .boxes {
       display: flex;
       flex-direction: column;
       
   }
   .lessons {
       margin-top: 20px;
   }
}